<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
  	<title>赖威良/威威猫/Sa4e's Personal Site - 关注编程 | 记录生活 | sa4e.cn</title>
  	
  </head>
  <body>
  
	<div th:insert="~{fragments/header :: header}"></div>	<!-- header -->
			
		<div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Categories</h1>
        <p class="lead blog-description">Blog's categories is here</p>
      </div>
    </div>	
			
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div id="cat">
						<ul class="blog-cat-mar">
							<li th:each="cat : ${cats}">
								<a href="javascript:void(0);" th:id="${cat.id}">
									[[${cat.name}]]&nbsp;
									<sup>[[${#sets.size(cat.blogs)}]]</sup>
								</a>
							</li>				
						</ul>
					</div>	<!-- catList -->
					
					<hr/>
					
					<div id="catDiv">
						<h4></h4>
						<ul>
							
						</ul>
					</div>	<!-- catContent -->
					
				</div>
				
				<div class="col-sm-3 ml-sm-auto blog-sidebar">
        	
          <div id="about" class="sidebar-module sidebar-module-inset" th:insert="~{fragments/about :: about}">
            
          </div>	<!-- About -->
          
          <div id="contant" class="sidebar-module" th:insert="~{fragments/contact :: contact}">
          	
          </div>	<!-- Contant -->
          
          <div id="link" class="sidebar-module" th:insert="~{fragments/link :: link}">
           
          </div>	<!-- Link -->
          
        </div><!-- /.blog-sidebar -->
        
			</div>
		</div>
    
		
	<div th:insert="~{fragments/footer :: footer}"></div>	<!-- footer -->
   	<script>
   		$(function(){
   			$('.blog-cat-mar a').click(function(){
   				var url = '/categories/';
   				var cid = $(this).attr('id');
   				var html = "";
   				var catName = "";
   				$.get(url+cid,function(data){
   					$.each(data.data,function(idx,obj){
   						if("" == catName) {
	   						catName = obj.category.name;
   						}
   						html += "<li class='blog-cat'><span style='margin-right:1rem;'>"+ obj.createTime +"</span><a target='_blank' href='/articles/"+ obj.id +"'>"+ obj.title +"</a></li>"
   					});
   					$('#catDiv > h4').html(catName);
   					$('#catDiv > ul').html(html);
   				},'json');
   			});
   			
   			$('.col-sm-8 ul > li').addClass('blog-cat');
   		});
   	</script>
  </body>
 	 
</html>