<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
  	<title>全文检索</title>
  </head>
  <body>
  	<div th:insert="~{fragments/header :: header}"></div>	<!-- header -->

    <div class="container">

      <div class="row">

        <div class="col-sm-12 blog-main">
		
			<div id="tags" class="blog-post" style="padding-top: 1.3rem">
			
				<span th:each="tag : ${allTags}">
					<a href="#" th:href="@{'/blogs/q/' + ${tag.name}}" th:id="${tag.id}" th:text="${tag.name}"></a>
				</span>
			
			</div>	<!-- tags -->
			
		<div id="mainContainer">	
			<div id="mainContainerRepleace">				
	       	
	       	<div class="row">
					<div class="col-sm-4 blog-post" th:each="blog: ${fuzzyBlogs}">
						<div class="card">
						    <img class="card-img-top" src="images/timg.jpg" th:src="${blog.imgUrl}" alt="Card image">
						    <div class="card-body">
						      <h6 class="card-title"><cite th:text="${blog.title}"></cite></h6>
						      <p class="card-text"><cite th:text="${blog.summary}"></cite></p>
						       <a href="#" th:href="@{/articles/{id}(id=${blog.blogId})}" target="_blank" class="btn btn-sm btn-outline-warning">Detailed...</a>
						    </div>
						   
						    <div class="card-footer">
						      <small class="text-muted">[[${#dates.format(blog.createTime,'yyyy/MM/dd')}]] By <a href="#contant">sa4e</a></small>
						   </div>
					  </div>
				</div>
			</div>	<!-- ./row -->
	        	
	       </div>	<!-- #mainContainerRepleace -->
	       
       </div>	<!-- #mainContainer -->
       
        <div id="pageable">	
	        	
	    </div>	<!-- ./pageable -->
				
        </div><!-- /.blog-main -->

      </div><!-- /.row -->
 
    </div><!-- /.container -->
		
	<div th:insert="~{fragments/footer :: footer}"></div>	<!-- footer -->
    <script src="js/blog/query.js" type="text/javascript" th:src="@{/js/blog/query.js}"></script>
  </body>
 	 
</html>